*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
    list-style: none;	
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

}
:root{
    --h1-font: 5rem;
    --h2-font: 3.4rem;
    --p-font: 16px;

    --btn-color:  #A75f37;
    --btn1-color: #d9b9a0;
    --vis-color:  #56321C;
}
body{
    color: #56321C;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    background-color: #fff; 
    top: 0;
    right: 0;
    transition: all .50s ease;
    width: 100%;
    padding: 10px 6%;
}

.logo a{
    font-size: 40px;
}
.navlinks{
    display: flex;
    align-items: center;
}
.navlinks a{
    font-size: 14px;
    margin: 0 15px;
    font-weight: 600;
    color: #292929;;
    padding: 5px;
    display: inline-block;
}
.navlinks li{
    position: relative;
}
.navlinks li::after{
    content: ''; /*very important*/
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #292929;
    left: 0;
    bottom: -10px;
    transition: all .50s ease;
}
.navlinks li:hover::after{
    width: 100%;
}

.btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: #292929;
    color: #fff;
    font-weight: 24px;
    cursor: pointer;
    font-weight: 900;
    font-size: 22px;
    border: 2px solid transparent;
    transition: all .50s ease;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #292929;
    color: #292929;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(hm.jpg);
    background-position: center;
    background-size: cover;
}
.home-text{
    display: inline-block;
}
.home-text h1{
    font-family: "Inika", serif;
    font-size: var(--h1-font);
    color: #fff;
    margin-top: 35px;
    text-align: center;
    line-height: 0.9;
    word-spacing: 0.7px;
    letter-spacing: 1.1;
    width: 100%;
    font-weight: 600;
}
.home-text p{
    font-size: var(--p-font);
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 25px 0 25px 0;
}
.home-text span{
    font-weight: 900;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.btn1{
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-right: 20px;
    font-size: 36px;
    background: #292929;
    cursor: pointer;
    font-weight: 690;
    transition: all .50s ease;
}
.btn2{
    font-weight: 600;
    display: inline-block;
    color: var(--vis-color);
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-right: 20px;
    font-size: 36px;
    background: var(--btn1-color);
    cursor: pointer;
    transition: all .50s ease;
}
.btn1:hover{
    transform: scale(1.05);
    background-color: #A75f37;
}
.btn2:hover{
    transform: translateX(5px);
    background: #fff;
    color: #56321C;
}
section{
    padding: 10px 6%;
}
.about{
    background: #fff2db;
    color: #56321C;
}
.about-cont{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;  
}
.about span{
    font-weight: 900;
}
span{
    font-weight: 600;
}
.abt-img img{
    margin-top: 25px;
    width: 100%;
    height: 100%;
    max-width: 600;
    object-fit: contain;
}
.about p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    color: #000;
}
.about h2{
    font-weight: 600;
    position: relative;
    font-size: var(--h2-font);
    margin: 25px 0;
    color: #000;
    font-family: "Inika", serif;
}
.about h2 .line::after{
    content: "";
    position: absolute;
    background: var(--vis-color);
    width: 20%;
    left: 0;
    bottom: -6px;
    height: 3px;
    
}
.about .p3{
   margin-top: 20px;
}
.about h3{
    margin-top: 10px;
    margin-bottom: 30px;
}
.join-btn{
    font-family: serif;
    background: #56321C;
    padding: 6px 12px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 30px;
    font-family: "Inika", serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
.container h2{
    font-size: 24px;
    margin: 20px 0;
}
  .dropdowns {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
  }
  
  .dropdown-btn:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-btn .icon {
    font-size: 20px;
    font-weight: bold;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 8px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-content h2 {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .dropdown-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
  }
  

.causes{
    background: #fff;
}
.center{
    text-align: center;
    font-size: var(--h2-font);
    margin-top: 80px;
    font-family: "Inika", serif;
}
.box img{
    max-width: 300px;
    height: auto;
    width: 100%;
    object-fit: contain;
    margin: 10px auto;
}

.box{
    box-shadow: #9e9c9c 0px 1px 25px;
    border-radius: 15px;
    padding: 0 15px 20px;  
    transition: all .50s ease;
    background: #fff;
}
.box:hover{
    transform: scale(1.08);
}
.box h3{
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.box .p5{
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0;
    line-height: 1.3;
}
.box-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnd{
    display: inline-block;
    padding: 7px 10px;
    background-color: #56321C;
    color: #fff;
    font-weight: 24px;
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    border-radius: 12px;
    font-size: 12px;
    transition: all .50s ease;
    border: 2px solid var(--vis-color);
}
.btnd:hover{
    background: transparent;
    color: #56321C;
}
.flex1 span{
    font-weight: 600;
}
.tab-content {
    display: none; /* Hide all tabs by default */
  }
  
  .tab-content.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    gap: 3rem; /* Show only the active tab */
  }
  
  .tab-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tab-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: #56321c;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .tab-button.active {
    background-color: #56321C;
    color: #ffffff;
  }
  
  .tab-button:hover {
    background-color: #f5a623;
    color: white;
  }
  
.story{
    background: #fff2db;
}
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    gap: 3.5rem;
    padding-right: 30px;
    padding-left: 30px;
    
}
/*
.tabs h2 {
    cursor: pointer;
  }
  
  .box-group {
    display: none;
  }
  
  .box-group.active {
    display: block;
  }
ends here*/  
.story1 img{
    max-width: 320px;
    height: auto;
    object-fit: contain;
    transition: all .50s ease;
}

.story .btn{
    text-align: center;
    border-radius: 25px;
    margin: 10px auto 20px;
}
.story .btn:hover{
    background: #56321C;
    transform: scale(1.08);
}
.contact{
    background: #12010a;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-content: center;
    align-items: center;
    gap: .2rem;
    color: #fff;
}
.contact h1{
    font-family: "Inika", serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-align:  center;
    margin-top: 30px;
}
.socials{ 
    margin: 20px 0;
    text-align: center;
}



.contact-text p{
    font-size: 12px;
    text-align: center;
}
.contact img{
    width: 200px;
}
.contact .socials i{
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  margin-right: 10px;
  transition: all .50s ease;
}
.socials i:hover{
  color: #fff;
  background-color: #e2c0ae;
}
.contact .fill{
    background-color: var(--other-color);
    color: #fff;
}
.contact input{
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
}
.contact textarea{
    font-size: 16px;
    display: block;
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}
.contact .contact-btn{
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    padding: 10px 90px;
    border-radius: 15px;
    background: #000;
    border: 2px solid #fff;
    margin: 15px 0;
    display: inline-block;
    text-align: center;
    transition: all .50s ease-in;
}
@media (max-width:1350px){
   :root{
    --h1-font: 4.2rem;
    --h2-font: 3.1rem;
   }
   section{
    padding: 10px 4%;
   }
}
@media (max-width:1280px){
    :root{
        --h1-font: 4rem;
        --h2-font: 2.9rem; 
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        justify-content: space-between;
        align-items: center;
        margin: 60px 0;
        gap: 3rem;
    }
    .logo img{
        width: 180px;
    }
}
@media (max-width:1120px){
    :root{
        --h1-font: 3.8rem;
        --h2-font: 2.7rem; 
    }
    .about-cont{
        display: grid;
        grid-template-columns: 1fr;
    }
    .home-text h1{
        line-height: 1.1;
    }
    .navlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: all .50s ease;
        padding-top: 130px;
        background: #fff;
    }
    .navlinks a{
        font-size: 36px;
        margin-top: 20px 0;
        display: inline-block;
    }
    .logo img{ 
        width: 160px;
    }
    .btn1,.btn2{
        font-size: 24px;
    }
}
@media (max-width:920px){
    .mis-vis{
       display: flex;
       flex-direction: column;
    }
    :root{
        --h1-font: 3.5rem;
    }
}
@media (max-width:750px){
    .stories{
        display: grid;
        grid-template-columns: repeat(1fr);
        justify-content: center;
    }
    .btn1,.btn2{
        font-size: 20px;
    }
    :root{
        --h1-font: 45px;
    }
    footer p{
        font-size: 18px;
    }
    .contact h2{
        font-size: 24px;
    }
    .boxes{
        grid-template-columns: 1fr;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .box{
        margin: 10px auto;
    }
}
@media (max-width:680px){
    .btn1,.btn2{
        font-size: 18px;
    }
    .logo img{
        width: 130px;
    }
    .btn{
        font-size: 16px;
    }
    footer p{
        font-size: 12px;
        font-weight: 400;
    } 
    .contact{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .contact-text{
        order: 2;
    }

    .mes{
        font-size: 35px;
    }
    .m-img img{
        width: 250px;
    }
    input{
        font-size: 20px;
        display: block;
        width: 100%;
    }
    textarea{
        font-size: 20px;
    }
}